<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/dist/css/toastr.min.css">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
	<title>{$title}</title>
	<style>
		.box {
			margin-top:5%;
			margin-left: 20%;
			margin-right: 20%;
		}
	</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-default navbar-fixed-top opacity50" role="navigation">
               	<div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">56are1</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">56are1</a>
            	</div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{:U('Home/Index/index')}">{$Think.lang.URL_INDEX}</a></li>
                        <li><a href="{:U('Home/Topic/forum')}">{$Think.lang.URL_FORUM}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{$Think.lang.URL_NATION}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{:U('Home/Index/meng')}">{$Think.lang.NATION_MENG}</a></li>
                                <li class="divider"></li>
                                <li><a href="{:U('Home/Index/hui')}">{$Think.lang.NATION_HUI}</a></li>
                                <li class="divider"></li>
                                <li><a href="{:U('Home/Index/tu')}">{$Think.lang.NATION_TU}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <if condition="$login eq false">
                        <li><a href="{:U('Home/User/register')}"><span class="glyphicon glyphicon-user"></span>{$Think.lang.REGISTER}</a></li> 
						<li><a href="{:U('Home/User/login')}"><span class="glyphicon glyphicon-log-in"></span>{$Think.lang.LOGIN}</a></li> <else /><li><a href="{:U('Home/User/space',array('uid'=>$user_id))}">{$username}</a></li><li><a href="{:U('Home/Msg/index')}">消息<if condition="$new_msg NEQ 0"><span class="badge">{$new_msg}</span></if></a></li></if>
                    </ul>
                </div>
	        </nav>
		</div>
		<div class="row box">
			<div class="panel panel-default">
				<div class="panel-heading">
					{$Think.lang.REPLY}{$to_user}
				</div>
				<div class="panel-body">
					<div class="form-group">
				    	<label for="username">{$Think.lang.SEND_TO}</label>
				    	<input type="text" class="form-control" name="to_user" id="username" placeholder="{$Think.lang.USER_NAME}" value="{$to_user}" <if condition="$to_user">readonly="readonly"</if>>
				    	<label for="title">{$Think.lang.TITLE}</label>
				    	<input type="text" class="form-control" name="title" id="title" placeholder="{$Think.lang.TITLE}">
				    	<input type="hidden" name="fid" value="{$user_id}">
				    	<script id="editor" type="text/plain" style="width:100%;height:500px;position:relative;margin-top: 1%;"></script>
				    	
				  	</div>
					<div class="panel-footer">
						<button class="btn btn-info" id="send">{$Think.lang.button_ensure}</button>
						<div id="send-result"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="__PUBLIC__/dist/js/jquery.min.js"></script>
    <script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
    <script>
    	var ue = UE.getEditor('editor');
    	$("#send").click(function (){
	    	var postUrl = "{:U('Home/Msg/send'),'',''}";
	    	var content = ue.getContent();
	    	var to_user = $('input[name=to_user]');
	    	var fid = $('input[name=fid]');
	    	var title= $('input[name=title]')
	    	var toUrl = "{:U('Home/Msg/index'),'',''}";
	    	var result;
	    	
	    	$.post(postUrl,{ title : title.val() , content : content , from_user_id : fid.val() , to_user_id : to_user.val()},
	    		function(data){
	    			switch(data.status){
	    				case 1:
	    					result = "<div class='alert alert-success'>{$Think.lang.POST_SUCCESS}</div>";
	    					break;
	    				case 0:
	    					result = "<div class='alert alert-danger'>{$Think.lang.POST_FAIL}</div>";
	    					break;
	    				default:
	    					result = "<div class='alert alert-danger'>{$Think.lang.UNKNOWN_ERROR}</div>";
	    			}
	    			$("#send-result").html(result);
	    			if(data.status==1){
	    				toUrl = "location.href='" + toUrl + "'";
                        setTimeout(""+toUrl+"", 1500);
                    }
	    		},'json');

	    });
    </script>
</body>
</html>