<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="__PUBLIC__/dist/css/bootstrap.min.css">
	<title>{$title}</title>
</head>
<body>
	<style type="text/css">
  body {
    background: #e5e5e5 url(__PUBLIC__/img/bg_body.gif);
    font-size: 16px;
  }
  .panel_header {
    line-height: 1.6;
    padding: 4px 12px;
    box-shadow: 0 1px 1px;
    background-color: #F4F4F4;
    background-image: -webkit-linear-gradient(top, #F7F7F7, #EEEEEE);
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    height: 1024px;
  }
  #s1 {
  	border: 1px solid;
  	margin-top: 11px;
    margin-left: 3px;
  	position: relative;
  	float: left;
  	width: 25%;
  	height: 90%;
  }
  #s2 {
  	position: relative;
  	left:20%;
    margin-top: 300px;
  }
</style>
<div class="container-fluid">
    <div class="row-fluid">
        <nav class="navbar navbar-default navbar-fixed-top opacity50" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">56are1</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">56are1</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{:U('Home/Index/index')}">{$Think.lang.URL_INDEX}</a></li>
                        <li><a href="{:U('Home/Topic/forum')}">{$Think.lang.URL_FORUM}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{$Think.lang.URL_NATION}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{:U('Home/Index/meng')}">{$Think.lang.NATION_MENG}</a></li>
                                <li class="divider"></li>
                                <li><a href="{:U('Home/Index/hui')}">{$Think.lang.NATION_HUI}</a></li>
                                <li class="divider"></li>
                                <li><a href="{:U('Home/Index/tu')}">{$Think.lang.NATION_TU}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <if condition="$login eq false">
                        <li><a href="{:U('Home/User/register')}"><span class="glyphicon glyphicon-user"></span>{$Think.lang.REGISTER}</a></li> 
                        <li><a href="{:U('Home/User/login')}"><span class="glyphicon glyphicon-log-in"></span>{$Think.lang.LOGIN}</a></li> <else /><li><a href="{:U('Home/User/space',array('uid'=>$user_id))}">{$username}</a></li><li><a href="{:U('Home/Msg/index')}">消息<if condition="$new_msg NEQ 0"><span class="badge">{$new_msg}</span></if></a></li></if>
                    </ul>
                </div>
            </div>
        </nav><br/><br/><br/>
    </div>
    <div class="panel_header">
            <span id="s1">
                <div style="margin-top: 10%;margin-left: 10%;">
                    <div>
                        <img src="__PUBLIC__/{$user_img}" alt="avatar_img" class="img-rounded" style="height: 60%;width: 50%;">
                    </div>
                    <div style="margin-top: 30%;">
                        <p>用户名:{$user_data.username}</p>
                        <p>{$Think.lang.NICKNAME}:{$user_data.nickname}</p>
                        <p>{$Think.lang.TOPIC_NUM}:{$user_data.posts}</p>
                        <p>{$Think.lang.REG_TIME}:{$user_data.register_time|date="Y-m-d",###}</p>
                        <p>{$Think.lang.NATION}:{$user_data.user_nation}</p>
                        <p>{$Think.lang.USER_NOTES}:{$user_data.words|default="这家伙很懒，什么都没有留下！"}</p>
                        <p>{$Think.lang.Favorite}:<a href="{:U('Home/Favorite/view')}">{$fav_num}</a></p>
                        <p>{$Think.lang.MSG}:<a href="{:U('Home/Msg/index')}">{$new_msg}</a></p>
                    </div>
                </div>
            </span>
            <span id="s2">
                <form action="{:U('Home/User/space',array('uid'=>$user_data['user_id']))}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="username">{$Think.lang.USER_NAME}:</label>
                        <input type="text" name="nickname" id="nickname" placeholder="{$user_data.nickname}">
                    </div>
                    <div class="form-group">
                        <label for="email">{$Think.lang.USER_EMAIL}:</label>
                        <input type="email" name="email" id="email" placeholder="{$user_data.email}">
                    </div>
                    <div class="form-group">
                        <label for="school">{$Think.lang.SCHOOL}:</label>
                        <input type="text" name="school" id="school" placeholder="{$user_data.user_school}">
                    </div>
                    <div class="form-group">
                        <label for="major">{$Think.lang.MAJOR}:</label>
                        <input type="text" name="major" id="major" placeholder="{$user_data.user_major}">
                    </div>
                    <div class="form-group">
                        <label for="password">{$Think.lang.PASSWORD}:</label>
                        <input type="password" name="password" id="password" placeholder="请输入密码进行验证">
                    </div>
                    <div class="form-group">
                        <label for="img">{$Think.lang.NEW_IMG}:</label>
                        <input type="file" name="avatar_img" id="img">
                    </div>
                    <button class="btn btn-info">{$Think.lang.CONFIRM}</button>
                </form>
            </span>
    </div>
</div>
    <script src="__PUBLIC__/dist/js/jquery.min.js"></script>
    <script src="__PUBLIC__/dist/js/bootstrap.min.js"></script>
</body>
</html>